.flex-column {
  flex-direction: column;
}
.flex-grow {
  flex-grow: 1;
}
.h-100 {
  height: 100%;
}
.logo {
  font-size: 1rem;
  color: getColor('primary.base');
}
.title {
  color: getColor('grey.4');
  font-size: 1.5rem;
  font-weight: 500;
}
