.avatar {
  overflow: hidden;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  @include m(round) {
    border-radius: 50%;
  }

  svg {
    display: block;
  }
}
