.table {
  border-collapse: collapse;
  width: 100%;
  thead {
    tr {
      padding: 1rem 3rem;
      border-top: 1px solid rgba(0, 0, 0, 0.05);
      background-color: #f0f4f7;
    }
  }
  td,
  th {
    padding: 0.75rem;
    text-align: left;
    white-space: nowrap;
  }
  tbody tr {
    &:hover {
      background-color: lighten($primary, 60%);
    }
  }
  &-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 0.875rem;
  p {
    font-size: 0.875rem;
  }
  .form-group__control {
    width: 100px;
    height: 30px;
    font-size: 0.875rem;
  }
  input.form-group__control {
    width: 68px;
  }
}
